<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation=" http://www.springframework.org/schema/security 
  					 http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- Spring Security 인증처리로직를 정의한 클래스 -->
<bean name="customizedAuthenticationProvider"
	class="org.kosta.MrFit.security.MemberAuthenticationProvider" />
<sec:authentication-manager>
	<sec:authentication-provider ref="customizedAuthenticationProvider" />
</sec:authentication-manager>
<!-- 로그인 처리를 위한 설정, 컨트롤러에서는 로그인 로그아웃 관련한 별도의 코딩은 없고 아래 설정이 대체한다 -->
<sec:http use-expressions="true" disable-url-rewriting="true">
	<sec:form-login login-page="/home.do"
		login-processing-url="/login.do" username-parameter="id"
		password-parameter="password" authentication-failure-url="/login_fail.do"
		default-target-url="/home.do" />
	<sec:logout logout-url="/logout.do" logout-success-url="/home.do" />
</sec:http>
<!-- 비밀번호 암호화를 위한 설정 -->
<bean id="passwordEncoder"
	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

</beans>
